/* Gayakan elemen featured pada tampilan layar lebar */
.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 0px;
  margin: 0 auto; /* Pusatkan di tengah */
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 225px;
  flex: 1;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px); /* Lebar teks sama dengan parent minus margin */
  text-align: center; /* Pusatkan teks */
}

/* Gaya untuk tampilan layar yang lebih kecil (mobile) */
@media (max-width: 768px) {
  .featured {
    flex-direction: row; /* Kembalikan ke tampilan 3 kolom */
    flex-wrap: wrap; /* Wrap item jika tidak cukup lebar */
    justify-content: center; /* Pusatkan item secara horizontal */
  }

  .featuredItem {
    flex: calc(33.33% - 20px); /* Hitung lebar flex untuk 3 kolom */
    margin: 0 10px; /* Berikan jarak antar kolom */
    height: 200px; /* Sesuaikan tinggi dengan konten */
  }

  .featuredTitles {
    position: absolute; /* Ubah posisi menjadi statis */
    text-align: center; /* Pusatkan teks */
    margin-top: 10px;
    font-size: 10pt; /* Atur ukuran font untuk layar kecil */
  }
}
