.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
  gap: 20px;
}

.listSearch {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #252525;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label {
  font-size: 12px;
}

.lsItem>input {
  height: 30px;
  border: none;
  padding: 5px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.lsItem>span {
  height: 30px;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  width: 70px;
    border: 1px solid #bbbbbb;
  border-radius: 5px;
    padding: 5px;
}

.listSearch>button {
  padding: 10px;
  background-color: #f3c00b;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .listWrapper {
    flex-direction: column; /* Stack items vertically */
  }

  .listSearch {
    order: -1; /* Move search to the top */
  }
}
