.homeContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.homeTitle {
  width: 100%;
  max-width: 1024px;
  font-size: 20px;
  
  padding: 10px 0px 10px 0px;
}

/* Gaya untuk tampilan layar yang lebih kecil (mobile) */
@media (max-width: 768px) {
  .homeTitle {
    font-size: 18px; /* Sesuaikan ukuran font */
    text-align: center;
  }
}
