.searchItem {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.siImg {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 2;
}

.siTitle {
  font-size: 19px;
  color: #0071c2;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #f3c00b;
  color: white;
  width: max-content;
  padding: 3px 5px;
  border-radius: 3px;
  text-transform: capitalize;
}

.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.siSubtitle{
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.siFeatures{
  font-size: 12px;
}
.siFeaturesFacility{
  margin-top: 5px;
  color: #7e7e7e;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.siDetails {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  /* justify-content: space-between */
}

.siDetailsStock{
 border-radius: 5px;
 color: rgb(205, 12, 12);
 font-weight: bold;
 border: none;
 font-size: 10pt;
 text-align: right;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}

.siTaxOp{
  font-size: 12px;
  color: gray;
}

.siCheckButton{
  margin-top: 10px;
  background-color: #d11111;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}