/* Mengatur tampilan card dalam 1 baris dan 3 kolom */
.carousel {
  display: flex;
  flex-wrap: nowrap; /* Mencegah pemutaran baris */
  overflow-x: auto; /* Mengaktifkan scrolling horizontal */
  -webkit-overflow-scrolling: touch; /* Efek animasi scrolling untuk WebKit */
  scroll-snap-type: x mandatory; /* Mengaktifkan snap saat scrolling */
  scroll-behavior: smooth; /* Efek animasi smooth saat scroll */
  margin-bottom: 40px;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-right: 20px;
  flex: 0 0 auto; /* Menetapkan ukuran lebar dan tinggi yang tetap */
  scroll-snap-align: start; /* Menetapkan snap alignment */
  transition: transform 0.3s ease-in-out; /* Efek transisi saat di-hover */
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  flex: 1;
  text-align: center;
}

.card-title {
  font-size: 12pt;
  margin: 2px 0px;
}

.card-position {
  font-weight: bold;
  color: #777;
  font-size: 10pt;
  margin-bottom: 8px;
}

.card-description {
  font-size: 10pt;
  color: #333;
  text-align: justify;
}

@media (max-width: 768px) {
  .carousel {
    overflow-x: scroll; /* Mengaktifkan scroll pada layar kecil */
    justify-content: flex-start; /* Tetap jaga jarak kiri pada card */
  }

  .card {
    width: 50%; /* Lebar card pada layar kecil */
    margin: 0 10px 20px 0; /* Margin antar card pada layar kecil */
  }

  .carousel::-webkit-scrollbar {
  display: none;
}
}



/* Mengatur tampilan default scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar vertikal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar belakang track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Warna thumb (bagian yang dapat di-scroll) */
  border-radius: 4px; /* Bentuk border untuk thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna thumb saat di hover */
}

/* Mengatur tampilan scrollbar horizontal */
/*  */

::-webkit-scrollbar-track-horizontal {
  background: #f1f1f1; /* Warna latar belakang track horizontal */
}

::-webkit-scrollbar-thumb-horizontal {
  background: #888; /* Warna thumb horizontal */
  border-radius: 8px; /* Bentuk border untuk thumb horizontal */
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background: #555; /* Warna thumb horizontal saat di hover */
}

